body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('https://t4.ftcdn.net/jpg/02/36/19/51/240_F_236195116_IWbsVnjfNpwfioW6eHgIXoIqlif9ZXei.jpg') no-repeat center center fixed;
  background-size: cover;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
  text-align: center;
}

.form-container, .list-container {
  margin: 20px 0;
}

form > div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button.edit-button {
  background-color: #2196F3;
  color: white;
}

button.delete-button {
  background-color: #f44336;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

li button {
  margin-left: 10px;
}
